// desktop
// @media screen and (min-width: 1158px) {}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
// ---------------------------------------------------------------
// body{
//   box-sizing: content-box;
//   width: 98vw;
//   height: 98vh;
//   background: linear-gradient(160deg, #d48a7d, #8fc5e9); 
// background-repeat: no-repeat;
// background-attachment: fixed;
// }

// body > div {
// 	display: inline-block;
// 	margin: 0 1em;
// 	filter: drop-shadow(0px 0px 1px #CCCCCC) drop-shadow(0px 0px 5px #202020);
// 	text-align: center;
// 	vertical-align: middle;
// }

// img {
//   width: 100%;
//   height: 100%;
//   display: block;
//   object-fit: cover;
//   opacity: 1;
//   z-index: 1;
// }

// .container{
//   max-width: 1100px;
//   margin: 0 auto;
//   margin-top: 100px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, 1fr);
//   grid-auto-rows: 220px;
//   grid-gap: 1px;
// }

// .imageText{
//   position: absolute;
//   top: 10rem;
//   left: 0rem;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   z-index: 2;
//   background: #000000;
//   opacity: .5;
//   transform-origin: bottom;
//   box-shadow: 0px -5px 1px #000000;
//   transform: translateY(9rem);
//   transition: transform 250ms ease-in;
// }

// .hexagon:hover .imageText{
//   position: absolute;
//   top: 3rem;
//   transform: translateY(0rem);
//   box-shadow: 0px -5px 5px #000000;
//   transition: transform 300ms ease-out;
// }

// .imageTextContent{
//   color: #FFFFFF;
// }

// .hexagon{
//   z-index: 0;
//   display: flex;
//   width: 250px;
//   height: 270px;
//   position: relative;
//   background: #151515;
//   transition: transform .5s ease-out;
//   transform: rotate(0deg) translateX(0px);
//   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
// }

// .hexagon:first-child{
//   grid-row-start: 1;
//   grid-column: 2 / span 2;
// }
// .hexagon:nth-child(2){
//   grid-row-start: 1;
//   grid-column: 4 / span 2;
// }
// .hexagon:nth-child(3){
//   grid-row-start: 1;
//   grid-column: 6 / span 2;
// }
// .hexagon:nth-child(4){
//   grid-row-start: 2;
//   grid-column: 1 / span 2;
// }
// .hexagon:nth-child(5){
//   grid-row-start: 2;
//   grid-column: 3 / span 2;
// }
// .hexagon:nth-child(6){
//   grid-row-start: 2;
//   grid-column: 5 / span 2;
// }
// .hexagon:nth-child(7){
//   grid-row-start: 2;
//   grid-column: 7 / span 2;
// }
// .hexagon:nth-child(8){
//   grid-row-start: 3;
//   grid-column: 2 / span 2;
// }

// .hexagon:nth-child(9){
//   grid-row-start: 3;
//   grid-column: 4 / span 2;
// }

// .hexagon:nth-child(10){
//   grid-row-start: 3;
//   grid-column: 6 / span 2;
// }

/* hexagonal-img-section */
.hexagonal-section {
  padding-top: 50px;
  box-sizing: content-box;
  height: 800px;
  background-image: url(./images/outside-bees.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hexagon {
  z-index: 0;
  display: flex;
  width: 250px;
  height: 270px;
  position: relative;
  background: #151515;
  transition: transform 0.5s ease-out;
  transform: rotate(0deg) translateX(0px);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.image-hexagonal {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
}

.container-hexagonal {
  /* position: relative; */
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  grid-auto-rows: 220px;
  grid-gap: 1px;
}

.imageText {
  position: absolute;
  top: 10rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: #000000;
  opacity: 0.5;
  transform-origin: bottom;
  box-shadow: 0px -5px 1px #000000;
  transform: translateY(9rem);
  transition: transform 250ms ease-in;
}

.hexagon:hover .imageText {
  position: absolute;
  top: 3rem;
  transform: translateY(0rem);
  box-shadow: 0px -5px 5px #000000;
  transition: transform 300ms ease-out;
}

.imageTextContent {
  color: #ffffff;
}

.hexagon:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
}

.hexagon:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
}

.hexagon:nth-child(3) {
  grid-row-start: 1;
  grid-column: 6 / span 2;
}

.hexagon:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hexagon:nth-child(5) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.hexagon:nth-child(6) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hexagon:nth-child(7) {
  grid-row-start: 2;
  grid-column: 7 / span 2;
}

.hexagon:nth-child(8) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hexagon:nth-child(9) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hexagon:nth-child(10) {
  grid-row-start: 3;
  grid-column: 6 / span 2;
}

/* Reasons section */
.reasons-section {
  display: flex;
  justify-content: center;
  background-image: url(./images/wooden-bg.jpg);
  background-position: center;
  background-size: cover;
}

.reason-ct {
  width: 1400px;
}



// --------------------------------------------------------------





// @media screen and (min-width: 1158px) {

// }

//tablet @media screen and (min-width: 768px) and (max-width: 1157px)
@media screen and (max-width: 1157px) {
}

/*mobile*/
@media screen and (max-width: 767px) {
}
