<footer>
  <div class="footer-ct" id="footer">
    <!-- <img class="footer-wallpaper" src="./images/wall-hexa.jpg" alt="poto"> -->

    <div class=" logo-footer">
      <span class="logo-menubar">Luna de miere</span>
    </div>
    <div class="adress-footer-ct">
      <span class="adress-footer">Adresa</span>
      <span class="adress-footer">Caminului , No. 63 Manolache, Ilfov, Romania 077105</span>
      <span><a class="phone-foooter" href="tel:0740017792">telefon 0 740 017 792</a></span>

    </div>
    <div class="social-media-footer-ct">
      <div>
        <span class="find-us">Ne gasesti pe:</span>
      </div>
      <div class="instagram">
        <svg class="insta-icon-ft">
          <use href="/src/icons.svg#icon-instagram"></use>
        </svg>
      </div>
      <div class="facebook">
        <svg class="face-icon-ft">
          <use href="/src/icons.svg#icon-facebook"></use>
        </svg>
      </div>
    </div>

  </div>


</footer>