<footer>
  <div class="footer-ct" id="footer">
    <!-- <img class="footer-wallpaper" src="./images/wall-hexa.jpg" alt="poto"> -->

    <div class="logo-adress-footer-ct">
      <div class=" logo-footer">
        <a href="/src/index.html"><span class="logo-menubar">Luna de miere</span></a>
      </div>
      <div class="adress-footer-ct">
        <span class="adress-footer">Adresa</span>
        <span class="adress-footer">Caminului , No. 63 Manolache,</span>
        <span class="adress-footer">Ilfov, Romania 077105</span>
        <span><a class="phone-foooter" href="tel:0740017792">telefon: 0 740 017 792</a></span>
      </div>
    </div>

    <div class="social-media-footer-ct">
      <div>
        <span class="find-us">Ne gasesti pe:</span>
      </div>
      <div class="icon-socialmedia-footer-ct">
        <div class="instagram">
          <a href="#"><svg class="insta-icon-ft">
              <use href="/src/icons.svg#icon-instagram"></use>
            </svg></a>
        </div>
        <div class="facebook">
          <a href="#"><svg class="face-icon-ft">
              <use href="/src/icons.svg#icon-facebook"></use>
            </svg></a>
        </div>
      </div>

    </div>

  </div>


</footer>