<header>
  <div class="header-ct-nav-logo">
    <a class="logo" href="/src/index.html">
      <img src="/src/images/cool-bee.png" alt="cool" width="120">

      <span class="logo-menubar">Luna de miere</span>
    </a>

    <nav class="nav-ct">
      <ul class="main-navigation">
        <li><a href="/src/index.html" class="current">În stup</a></li>
        <li><a href="#">Despre noi</a></li>
        <li><a href="#">Comenzi</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- mobile icon -->
  <div class="menu-button js-open-menu">
    <svg>
      <use href="/src/icons.svg#icon-menu"></use>
    </svg>
  </div>
  <!-- modal-js-menu -->
  <div class="js-menu-container">

    <button class="menu-toggle js-close-menu">
      <svg class="icon-cross">
        <use href="/src/icons.svg#icon-cross" />
      </svg>
    </button>

    <div class="content-menu-modal">
      <nav class="nav-ct-modal">
        <ul class="main-navigation-modal">
          <li><a href="/src/index.html">În stup</a></li>
          <li><a href="#">Despre noi</a></li>
          <li><a href="#">Comenzi</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>