<!-- hexagonal-img-section -->
<section class="hexagonal-section">

    <div class="photo-galery">
        <h2>Galerie foto</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="hexagon">
                <img src="/src/images/DSC_0274-01.jpeg" alt="bee" width="360">
            </div>
            <div class="hexagon">
                <img src="/src/images/DSC_0278-01.jpeg" alt="bee">
            </div>
            <div class="hexagon">
                <img src="/src/images/DSC_0332-01.jpeg" alt="bee">
            </div>
        </div>
        <div class="row">
            <div class="hexagon">
                <img src="/src/images/DSC_0295-01.jpeg" alt="bee">
            </div>
            <div class="hexagon">
                <img src="/src/images/DSC_0297-01.jpeg" alt="bee">
            </div>
        </div>
        <div class="row">
            <div class="hexagon">
                <img src="/src/images/DSC_0336-01.jpeg" alt="bee">
            </div>
        </div>
    </div>
</section>