<!-- hexagonal-img-section -->
<section class="hexagonal-section">
    <!-- 1 -->
    <div class="container-hexagonal">
        <div class="hexagon">
            <img class="image-hexagonal" src="./images/bee-hd-on-flower-2.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Proprietăți nutriționale deosebite</h3>
                    <span>
                        Mierea este o sursă naturală de carbohidrați,
                        antioxidanți, vitamine și minerale
                        esențiale. Aceasta poate oferi energie rapidă și susținere nutritivă.
                    </span>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="hexagon">
            <img src="./images/bee-hd-on-flowers.jpg">
            <div class="imageText">

                <div class="imageTextContent">
                    <h3>Beneficii pentru sănătate:</h3>
                    <span>Mierea are proprietăți antibacteriene și antioxidante,
                        contribuind la întărirea sistemului
                        imunitar și la protejarea organismului împotriva radicalilor liberi.</span>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="hexagon">
            <img src="./images/bee-hive-outside.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Varietate de arome și texturi:</h3>
                    <span>
                        Produsele din miere vin într-o gamă largă de arome și texturi, reflectând diversitatea
                        florilor și plantelor de
                        proveniență.
                    </span>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="hexagon">
            <img src="./images/bee-hd-on-flower.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Miere brută și neprocesată:</h3>
                    <span>
                        Mulți clienți apreciază mierea brută și neprocesată pentru că păstrează beneficiile
                        nutriționale într-o formă naturală.
                    </span>
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="hexagon">
            <img src="./images/bee-hive-outside.jpg">
            <div class="imageText">

                <div class="imageTextContent">
                    <h3>Utilizări diverse în bucătărie:</h3>
                    <span>
                        Mierea poate fi folosită în diverse moduri în bucătărie, de la îndulcirea ceaiului și a
                        cafelei la adăugarea în rețete
                        de prăjituri sau marinate pentru carne.
                    </span>
                </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="hexagon">
            <img src="./images/bees-insect-honey-bees.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Sursă locală și susținerea comunității:</h3>
                    <span>
                        Mulți consumatori apreciază produsele locale pentru impactul lor redus asupra mediului
                        și pentru sprijinirea economiei
                        locale.
                    </span>
                </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="hexagon">
            <img src="./images/big-bee.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Calitate certificată și origine organică:</h3>
                    <span>
                        Mierea noastră este o alegere gustată și certificată, pentru o experiență dulce și
                        sănătoasă, susținând atât sănătatea
                        cât și mediul înconjurător.
                    </span>
                </div>
            </div>
        </div>
        <!-- 8 -->
        <div class="hexagon">
            <img src="./images/nature-bees-beekeeper-honey.jpg">
            <div class="imageText">
                <div class="imageTextContent">
                    <h3>Nu dati banii pe prostii...</h3>
                    <h3>Luati miere la copii !</h3>
                </div>
            </div>
        </div>
        <!--9 -->
        <div class="hexagon">
            <img src="./images/Staright-from-the-hive.jpg">
            <div class="imageText">

                <div class="imageTextContent">

                </div>
            </div>
        </div>
        <!-- 10 -->
        <div class="hexagon">
            <img src="./images/texture-fagure.jpg">
            <div class="imageText">

                <div class="imageTextContent">

                </div>
            </div>
        </div>
    </div>
</section>