<!-- Reasons section -->
<section class="reasons-section">


  <div class="reason-ct">
    <h3 class="title-reasons">Motive sa alegi produsele noastre</h3>
    <ul class="accordion">
      <!-- <video class="video-bg-reasons" src="/src/images/delicious_video.mp4" type="video/mp4" autoplay muted
        loop></video> -->
      <li class="reasons-list">
        <img src="/src/images/bees-insect-honey-bees.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Proprietăți nutriționale deosebite:</h3>
            <p>Mierea este o sursă naturală de carbohidrați,
              antioxidanți, vitamine și minerale
              esențiale. Aceasta poate oferi energie rapidă și susținere nutritivă.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/bee-hd-on-flower-2.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Beneficii pentru sănătate:</h3>
            <p>Mierea are proprietăți antibacteriene și antioxidante,
              contribuind la întărirea sistemului
              imunitar și la protejarea organismului împotriva radicalilor liberi.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/bee-hd-on-flower.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Varietate de arome și texturi:</h3>
            <p>Produsele din miere vin într-o gamă largă de arome și texturi, reflectând diversitatea
              florilor și plantelor de
              proveniență.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/bee-hive-outside.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Miere brută și neprocesată:</h3>
            <p>Mulți clienți apreciază mierea brută și neprocesată pentru că păstrează beneficiile
              nutriționale într-o formă naturală.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/bee-flying.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Utilizări diverse în bucătărie:</h3>
            <p>Mierea poate fi folosită în diverse moduri în bucătărie, de la îndulcirea ceaiului și a
              cafelei la adăugarea în rețete
              de prăjituri sau marinate pentru carne.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/outside-bees.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Sursă locală și susținerea comunității:</h3>
            <p>Mulți consumatori apreciază produsele locale pentru impactul lor redus asupra mediului
              și pentru sprijinirea economiei
              locale.</p>
          </span>
        </div>
      </li>
      <li>
        <img src="/src/images/bee-hd-on-flowers.jpg" alt="bee">
        <div class="content">
          <span>
            <h3>Calitate certificată și origine organică:</h3>
            <p>Mierea noastră este o alegere gustată și certificată, pentru o experiență dulce și
              sănătoasă, susținând atât sănătatea
              cât și mediul înconjurător.</p>
          </span>
        </div>
      </li>
    </ul>
  </div>