<div class="discover-description-ct">
    <a class="logo" href="/src/index.html"><img class="logo-jped" src="/src/images/beelogo.png" alt="logo"></a>
    <span class="discover-description">Descoperă autenticitatea și dulceața naturii în fiecare picătură de
        miere pe care o oferim. Stupii noștri sunt grijuliu îngrijiți, iar
        mierea este recoltată cu pasiune și respect pentru mediul
        înconjurător. Alege să îți îndulcești viața cu miere pură, direct din
        stup!</span>
</div>